@font-face {
    font-family: 'DrukWide';
    src: url('../fonts/DrukWideBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
}
                                                                        /* Container do primeiro bloco */
.container_one{
    text-align: center;
    position: relative;
}

.container_one .message_title{
    font-size:60px;
    font-weight: 700;
    margin: 30px;
    margin-top: 90px;
    color: white;
}

.container_one .message_title span{
    font-weight: 700;
    color: #ffa017;
}

.container_one .message {
    margin-top: 30px;
    line-height: 1.8;
    font-size: 20px;
    color: #ffffff8f;
}
.space{
    display: none;
}

.block {
    margin-top: 50px;
}

.block .video_container {
    position: relative;
    width: 900px;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid #ffa017;
    box-shadow: 0px 0px 40px 1px #ffa017;
}

.block .video_container .video_matida{
    width: 100%;
    border-radius: 30px;
    display: block;
}

.play-btn{      /* layout botão */
    opacity: 1;
    transition: opacity 0.3s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: opacity 0.3s ease;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #ffa017;
    color: black;
    font-size: 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn.hidden {
    opacity: 0;
    pointer-events: none;
}

.play-btn:hover{
   transform: translate(-50%, -50%) scale(1.1);
   transition: 0.4s ease-out;
}

.block .chat_container{
    padding: 20px 40px;
 
}

.block .chat_container .chat_whatsapp_two{
    padding: 20px 40px;
    border-radius: 14px;
    border: 1.5px solid white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin: 60px;
    color:  white;
    background-color: #1bd534;

    display: inline-block;
    width: max-content;
}

.block .chat_container .chat_whatsapp_two:hover{
    transform: scale(1.1);
    transition: 0.4s ease-out;  
}

                                                                            /*Videos dos depoimentos*/

.container_two{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container_two .container_messages{
    padding: 40px;
    justify-content: center;
}

.container_two .container_messages .message_title_dep{
    font-size:30px;
    font-weight: 800;
    color: #000000;
}

.container_two .container_messages .message_dep{
    margin-top: 20px;
    color: #5a5a5a;
}

.container_two .container_deps_video{
    text-align: center;
}

.container_two .container_deps_video .depoimentos{
    margin: 30px;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 30px;
}

.container_two .container_deps_video .depoimentos .dep_video .video_container{
    position: relative;
    max-width: 900px; /* Não passa de 900px */
    width: 95%;      /* Em telas menores, ocupa 95% da largura */
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid #ffa017;
    box-shadow: 0px 0px 10px 1px #ffa017;
}

.container_two .container_deps_video .depoimentos .dep_video .video_container .video_depoimento {
    max-width: 450px; /* Limite para os vídeos de depoimento */
    width: 100%;
    border-radius: 25px;
    display: block;
}

                                                                            /*Imagens dos depoimentos*/

.container_two .container_deps_message{
    width: 65rem;
    height: 32.5rem;
    margin: 50px auto 70px auto;
    border: 1px solid #e2e8f0;
    border-radius: 20px;
    background-color: #f8fafc;
}

.container_two .container_deps_message div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container_two .container_deps_message div .message_title{
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

.container_two .container_deps_message .depoimentos{
    list-style: none;
    display: flex;
    height: 300px;
    margin: 30px;
    padding: 0;
}
.container_two .container_deps_message .depoimentos .dep_img{
    position: relative;
    height: 350px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #ffa017;
    box-shadow: 0px 0px 10px 1px #ffa017;
}

.container_two .container_deps_message .depoimentos .dep_img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    display: block;
}

                                                                            /* último container */

.container_three{
    width: 100%;
    text-align: center;
    background-color: #ffa017;
    padding: 40px 0;
}

.container_three .message_one{
    font-size: 12px;
    background-color: white;
    color: #ffa017;
    border-radius: 30px;
    display: inline-block;
    padding: 7px 15px;
}

.container_three .message_title{
    margin-top: 10px;
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.container_three .message_two{
    margin-top: 10px;
    font-size: 16px;
    color: #ffffffbc;
}

.container_three .chat_whatsapp_three{
    margin-top: 30px;
    padding: 30px 160px;
    border-radius: 14px;
    border: 4px solid white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: #1bd534;

    display: inline-block;
    width: max-content;
}

.container_three .chat_whatsapp_three:hover{
    transform: scale(1.1);
    transition: 0.4s ease-out;  
}

.container_three .message_three{
    margin-top: 30px;
    font-size: 16px;
    color: #ffffffbc;
}

